.intro-container {
  margin: 0 auto;
  max-width: 760px;
}

.title {
  position: relative;
  display: inline-block;
  font-family: 'Amiri', 'Georgia', serif;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  color: #000000;
}

#title_name::before {
  content: '';
  background-color: #f0cfc3;
  height: 60px;
  position: absolute;
  left: auto;
  width: 165px;
  z-index: -1;
}

.title_sentence {
  display: inline-block;
  /* margin-right: 16px; */
}

.paragraphs {
  margin-top: 16px;
  font-family: 'Open Sans', 'Lato', 'Avenir Next', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #696969;
}

.logos-section {
  margin-top: 10px;
}

@media (min-width: 760px) {
  .intro-container {
    /* padding-top: 80px; */
    margin: 20vh auto;
  }

  .paragraphs {
    font-size: 18px;
    line-height: 24px;
  }
}

@media (max-width: 760px) {
  .col {
    padding: 0px 40px;
  }
}
