.header {
  position: sticky;
  /* top: 0; */
}

.header-links > a,
.header-links > a:hover {
  font-size: 12pt;
  margin: 0 0.75rem;
  color: black;
  text-decoration: none;
  font-family: 'Avenir Next', 'Lato', 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.25px;
}

.header-links > a:hover {
  opacity: 0.65;
}
